<%- include("../partials/header", { bot, user, path, title: "Ascendency" }) %>

<head>
    <meta property="og:site_name" content="Ascendency Client">
    <meta property="og:title" content="【•Redirect•】">
    <meta property="og:description" content="Ascendency Client">
</head>

<div class="content">
<br />
<br />
<br />
<p class="pageHeader">Ascendency Client Page Is Currently Down For Maintenence.</p>
<br />
<br />
<br />
<br />
<br />
<br />
<p class="partnerDiscord">Go Follow Their Discord For Updates <a href="http://ascendencyclient.nyxclient.com/">Here</a>!</p>
<br />
<br />
<br />
<br />
<br />
<br />
<p class="partnerDiscord">If You Own Ascendency Please Contact Us To Change Your Backdrop <a href="http://discord.nyxclient.com/">Here</a>!</p>

<style>
  body {
    background: #000000;
  }
</style> <!-- Just Temporary -->

<br /><br /><br /><br />

<h1 style="position: relative; text-align: center; color: white; font-size: 500%;">Ascendency Client</h1>

<p style="position: relative; left:13%; text-align: center; max-width: 75%; color: #ff0000; font-size: 250%;">⚠︎Display_Data=None⚠︎</p>
</div>

</div>
<%- include("../partials/footer") %>