<%- include("../partials/header", { bot, user, path, title: "Aurora" }) %>

<head>
    <meta property="og:site_name" content="Aurora Client">
    <meta property="og:title" content="【•Redirect•】">
    <meta property="og:description" content="(Our client is in beta) We currently have Infinite Items, Infinite xp, ChestESP, Infinite Speed! If you would like to see the modules we are adding please join our discord.">
</head>

<div class="content">
<p class="partnerDiscord">Go Follow Their Discord For Updates <a href="https://discord.gg/zEyfJQtN5P/">Here</a>!</p>

<style>
  body {
    background: #000000;
    background: url("https://cdn.glitch.com/49bb5a74-432a-4d4e-8c1b-d5bfdd488b10%2FUntitled%20(11).png?v=1606239184699") no-repeat center left fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  }
</style> <!-- Just Temporary -->

<br /><br /><br /><br />
</div>

</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h2 style="font-family: segoe print;">Release Date: End Of December</h2>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<%- include("../partials/footer") %>