<head>
    <link rel="icon" href="https://cdn.glitch.com/49bb5a74-432a-4d4e-8c1b-d5bfdd488b10%2F49bb5a74-432a-4d4e-8c1b-d5bfdd488b10_AzureClientLogo.ico">
</head>

<%- include("../partials/header", { bot, user, path, title: "Azure" }) %>

<head>
    <meta property="og:site_name" content="Azure Client">
    <meta property="og:title" content="【•Redirect•】">
    <meta property="og:description" content="Azure Client">
</head>


<div class="content">
<br />
<br />
<br />
<p class="partnerDiscord"><a href="http://azureclient.nyxclient.com/">Azure Discord</a></p>
<br />
<br />
<br />
<br />
<br />
<br />

<style>
  body {
    background: url(https://papers.co/wallpaper/papers.co-nv33-winter-dark-night-mountain-nature-40-wallpaper.jpg) no-repeat center left fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
</style> <!-- Just Temporary -->

<br /><br /><br /><br />

<h1 style="position: relative; text-align: center; color: #191970; font-size: 500%; font-family: Segoe Print; -webkit-text-stroke: 1px black;">Azure Client</h1>
<p style="position: relative; text-align: center; color: white; font-size: 300%; font-family: Segoe Print; -webkit-text-stroke: 1px black;">Est. Release Jan 1st - March 12th</p>

<!--- Done : ) --->

</div>
<%- include("../partials/footer") %>