<%- include("../partials/header", { bot, user, path, title: "Clients" }) %>

<head>
    <meta property="og:site_name" content="Clients">
    <meta property="og:title" content="【•Redirect•】">
    <meta property="og:description" content="Clients">
</head>

<div class="content">
<br />
<br />
<br />
<p class="partnerDiscord">Go Follow Our Discord For Updates <a href="http://discord.nyxclient.com/">Here</a>!</p>
<br />
<br />
<br />
<br />
<br />
<br />

<style>
  body {
    background: black;
  }
</style> <!-- Just Temporary -->

<br /><br /><br /><br />

<a class="partnerHref" href="Ascendecy">Ascendecy Client</a><br />
<a class="partnerHref" href="Azure">Azure Client</a><br />
<a class="partnerHref" href="Fate">Fate Client</a><br />
<a class="partnerHref" href="Lunix">Lunix Client</a><br />
<a class="partnerHref" href="Octo">Octo Client</a><br />
<a class="partnerHref" href="Wave">Wave Client</a><br />

</div>

<%- include("../partials/footer") %>