<footer class="footer"><h1 style="color: black; font-family: Segoe Script; font-weight: bolder; font-size: 20px; bottom: 10%; font-family: Segoe Print; text-align: bottom;">NYXCLIENT™ 2020</h1></footer>

<script type="text/javascript" id="cookieinfo"
	src="/js/cookies.js">
</script>

<script type="text/javascript" id="webinfo"
	src="/js/dashboard.js">
</script>