  <a class="" href="/"><image class="homeHeaderBtn" src="https://cdn.glitch.com/49bb5a74-432a-4d4e-8c1b-d5bfdd488b10%2Fcircle-cropped%20(1).png?v=1605898957123"></image></a>
  <a class="headerBtn" href="http://nyxclient.com/download/">Download</a>
  <a class="headerBtn" href="https://discord.gg/QSu8RrBT3a/">Discord</a>
  <a class="headerBtn" href="http://nyxclient.com/botinv">Bot</a>
  <a class="headerBtn" href="http://nyxclient.com/faqs">FAQs</a>
  <a class="headerBtn" href="http://nyxclient.com/status/">Status</a>
  <a class="rightBtn" href="http://nyxclient.com/contact/">Contact Us</a>
  <a class="rightBtn" href="http://nyxclient.com/bans/">Bans</a>
  <a class="rightBtn" href="http://nyxclient.com/limejuice/">Lime-Juice</a>
  <div class="partners">
    <buton onClick="partners()" class="dropbtn">Partners
      <i class="fa fa-caret-down"></i>
      </button>
    <div class="partnerBox">
     
<div class="partners-content">
          <a href="http://nyxclient.com/construction">Ace</a>
        </button> 
    <div class="partners-content">
          <a href="http://nyxclient.com/clients/ascendency">Ascendency</a>
        </button>
      <div class="partners-content">
            <a href="http://nyxclient.com/clients/aurora">Aurora</a>
          </button>
      <div class="partners-content">
            <a href="http://nyxclient.com/clients/azure">Azure</a>
          </button>
        <div class="partners-content">
              <a href="http://nyxclient.com/clients/fate">Fate</a>
            </button>
          <div class="partners-content">
                  <a href="http://nyxclient.com/clients/lunix">Lunix</a>
                </button>
              <div class="partners-content">
                  <a href="http://nyxclient.com/clients/octo">Octo</a>
                </button>
              <div class="partners-content">
                      <a href="http://nyxclient.com/clients/wave">Wave</a>
                    </button>
                  <div class="partners-content">
                        <a href="http://nyxclient.com/other-partners">Other Partners</a>
                      </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
