<html lang="en">
<head>
<!--- I am changing part of the site bare with me soz but go to nyxclient.glitch.me in the meantime and u will see site --->
    <meta charset="UTF-8">
    <script data-ad-client="ca-pub-4756408334024191" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link rel="icon" href="https://cdn.glitch.com/49bb5a74-432a-4d4e-8c1b-d5bfdd488b10%2Fcircle-cropped%20(1).png?v=1605898957123">
	  <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://cdn.glitch.com/49bb5a74-432a-4d4e-8c1b-d5bfdd488b10%2Fcircle-cropped.ico?v=1605894648305">
    <meta name="twitter:site" content="@QSu8RrBT3a">
    <meta name="twitter:creator" content="@NyxClient">
    <title><%= title %></title>
</head>
<body>
  <header class="header">
    <%- include("header2") %>
  </header>