<%- include("partials/header", { bot, user, path, title: "404 Error" }) %>

<style>
  body {
    background: black;
  }
</style>

<div class="content">
<div class="error404" role="main"></a>
  <h1>Page not found</h1>
  <p>We could not find the above page on our servers.</p>
  <p style="clear:both;">Alternatively, You Can Visit The <a href="/">Main Page</a></p>
</div>
    
</div>
<%- include("partials/footer") %>