<%- include("partials/header", { bot, user, path, title: "Bans" }) %>
<head>
    <link rel="icon" href="https://cdn.glitch.com/49bb5a74-432a-4d4e-8c1b-d5bfdd488b10%2Fcircle-cropped%20(1).png?v=1605898957123">
    <meta property="og:site_name" content="Petition Minecraft Bans™">
    <meta property="og:title" content="【•Redirect•】">
    <meta property="og:description" content="⇪ Links Found Here ⇪">
</head>

<style>
  body {
    background: url(https://cdn.glitch.com/49bb5a74-432a-4d4e-8c1b-d5bfdd488b10%2FBanning%20Message.png?v=1606081504410) no-repeat center left fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
</style> 
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />



<br />
<br />
<br />
<br />
<br />
<br />
<br />

<!-- <p class="partnerDiscord"><a href="https://discord.gg/W3ypCeb7P2">Wave Discord</a></p> --->
<span class="errorHeader"><a class="downldLink">An Error Has Been Found On This Page And Is Being Repaired By Our Team</a></span>
<div class="content">
<p class="mainText" style="position: relative; font-size: 300%; text-align: center; left 50%; "><a href="http://chng.it/qMQ5c2DJwd" style=" font-weight: bold; -webkit-text-stroke: 1.5px black;">Petition Minecraft Bans</a></p>
<p style="position: relative; left: 45%; max-width: 75%; font-size: 200%; -webkit-text-stroke: 1px black;">And/Or</p>
<p style="position: relative; left: 39%; max-width: 75%; font-size: 200%;"><a href="https://discord.gg/tt6VJ2DbSE" style="color: #FFFFFF; -webkit-text-stroke: 1.5px black;" >Join Their Discord</a></p>
<!--<p style="position: relative; text-align:center; -webkit-text-stroke: 0.3px black; color: #FF0000;">An Error Has Been Found And Is Being Repaired</p>-->
<br />
<br />
<br />
<%- include("partials/footer") %>